html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}

.header {
  padding: 300px;
}

h1 {
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

nav > a {
  color: var(--color-secondary-dark);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

nav > a:hover {
  color: var(--color-secondary-bright);
}

.hero {
  background: url('images/hero.jpg') no-repeat;
}

.card {
  border: 1px var(--color-secondary-bright) solid;
  border-radius: var(--radius);
 }

.card > h3 {
  color: var(--color-secondary);
}

.card > a {
  color: var(--color-primary);
  text-decoration: none;
 }

.card > a:hover {
  text-decoration: underline;
}

.delivery {
  background: var(--color-section-bg);
}

.delivery > ul {
  font-weight: 500;
  color: var(--color-secondary-dark);
  line-height: 1.25rem;
  list-style-type: none;
}

footer {
  background: var(--color-footer-bg);
  color: var(--color-secondary-light);
}

.footer-address {
  margin-bottom: 20px;
}

.footer-logo {
  height: 40px;
}

footer ul {
padding: 0px;
}

footer ul a {
  color: var(--color-secondary-bright);
}

footer li {
  display: inline;
  list-style-type: none;
}

/* - **tablet** od `768px` a víc
- **desktop** od `1100px` a víc
*/

.hero {height: 1280px;}

/*text-decoration: none; na viacerych miestach nav > a     .card > a
list-style-type: none; tiež
*/

/*
@media (min-width: 768px) {
{}
}
*/

.vyhoda {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  display: inline-block;
  background: var(--color-primary);
  border-radius: 100vw;
  color: #f5f5f1;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px;
}

.button:hover {
  background: var(--color-primary-dark);
}